.movie-item {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'flex-start';
}

.movie-item > * {
  margin-bottom: 10px;
}

.label {
  color: #737682;
}

.text-center {
  text-align: center;
}

.video-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.vote-group {
  position: relative;
  display: flex;
}

.vote-item {
  margin-right: 16px;
  font-size: 14px;
}

.vote-item img {
  margin-left: 6px;
}

.description-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-top: 4px;
}

.vote-btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: -5px;
}

.video-player {
  margin-right: 30px;
  width: 320px;
}

.video-player > div {
  width: 320px !important;
}

.video-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .video-item {
    display: block;
    padding: 16px;
    margin-bottom: 0;
  }

  .title {
    margin-top: 16px;
  }

  .video-player {
    margin: 0;
    width: 100%;
  }

  .video-player > div {
    width: 100% !important;
  }
}
