.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedfe2;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0;
  }

  .form {
    display: block;
    flex: 2;
    text-align: center;
    margin-right: 8px;
  }

  .form .btn {
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
  }

  .form .input-wrapper {
    margin-left: 0;
    margin-bottom: 8px;
  }
}
