.App {
  text-align: left;
  margin: 0px auto 20px;
  max-width: 1080px;
  padding: 10px 0px;
}

.page-not-found {
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
